$primary: #6C80EA;
$secondary: #A7A5EC;

$text-primary: #fafafa;
$text-secondary: #222222;

$background-main: linear-gradient(to bottom, #222222, #222222);
$background-paper: rgba(255, 255, 255, 0.25);

$head-text: 'Ubuntu', sans-serif; /* logo and headline tags */
$body-text: 'Roboto', sans-serif; /* paragraph, small and input tags */
